<div class="header">
  <h2>A Storm in the Rocky Mountains, Mt. Rosalie</h2>
  <h3>Albert Bierstadt</h3>
</div>

<div class="description">
  <p>
    In 1863, Albert Bierstadt made an arduous expedition to Colorado in order to gather studies of the region for this monumental painting, executed three years later in his New York studio. For the final canvas, he exercised artistic license—rearranging some landmarks and exaggerating the scale of others—to maximize the visual interest of this Rocky Mountain landscape. The picture toured the country on a yearlong exhibition and thrilled audiences with its dual effects of sublime grandeur and reportorial detail. Soaring peaks, expansive valleys, and turbulent weather conditions create a dramatic backdrop for the meticulously detailed flora and a Native American hunting scene in the foreground. Mt. Rosalie (now Mt. Evans) appears in spotlight within a ring of dark clouds in the upper left corner of the composition. Bierstadt established his artistic reputation with "Great Pictures" of the American West that embodied the national agenda of expansionism known as Manifest Destiny.
  </p>
  <p>
    A <a href="http://www.artbeyondsight.org/amart/alfred-bierstadt.shtml">verbal description</a> of this work is available through Art Beyond Sight, a guide for people with visual impairments.
  </p>
</div>

<figure>
  <img class="painting" title="<%= @painting.title %>" src="<%= @painting.url %>" alt="<%= @painting.description %>">
  <figcaption>1866. Oil on canvas, 83 x 142 1/4in.</figcaption>
</figure>

<div class="tag-form">
  <%= render 'tags/form', painting_id: @painting.id %>
</div>

<ul class="tags-container">
  Tags:
  <% @tags.each do |tag| %>
    <%= render 'tags/tag', {tag: tag} %>
  <% end %>
</ul>




  












